*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    overflow-x: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(148, 224, 253);
    width: 100vw;
    height: 100vh;
  }

  .divisao{
    display: flex;
  }

 
  .box-canto{
    margin-left: 40px;
    margin-right: 40px;
    display: inline-flex;
    margin-top: 300px;
    width: 700px;
    height: 200vh;
    background-color: rgb(95, 185, 185);
    border-radius: 30px;
  }

  .divisao1, .divisao2,.divisao3, .divisao4,.divisao5{
    width: 290px;
    margin: 40px;
    height: 100px;
    text-align: center;
 
    border-radius: 30px;
    background-color: rgb(253, 193, 193);
  }
 #sites{
   display: flex;
   align-items: center;
   font-size: 21px;
   text-align: center;
 }

  .bloco-2{
    margin-right: 30px;
  }
  
  .imagem-logo{
    display: flex;
    width: 150px;
    height: 100px;
    margin-top: 10px;
    margin-left: 150px;

    
  }
  
  .imagem-logo img{
    margin: auto;
    border-radius: 50%;
    height: 100px;
    min-width: 150px;
  }
  
   
  a{
    text-decoration: none;
  }
  
  ul{
    list-style: none;
  }
  
  header{
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    
    transition: 0.3s;
  }
  
  .container{
    
    position: relative;
    display: flex;
    width: 100%;
   
    padding: 0 1.5rem;
    
    margin: auto;
  }
  
  nav.container{
    
    
    display: flex;
   
  
  }
  
 
  
  .links{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    
   
  }
  
  .links ul{
    
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
  }
  
.nav-links{
    
  text-transform: uppercase;
  font-size: 20px;
  color: black;
  letter-spacing: 0.5px;
  display: inline-block;
  margin: 0 1rem;
}
  
.nav-links:hover{
   color: white;
}

.texto{
   
  margin: auto;
  text-align: center;
    
  width: 800px;
  height: 400px;
    
}

.texto-sobre {
  
  width: 700px;
  
  padding-bottom: 20px;
 padding-top: 20px;
   
}


.texto, .texto-sobre{
   
  padding-top: 10px;
}
 
  
  
  
header.scrolled{
  margin-top: 30px;
  width: 1550px;
  margin-left: 50px;
  height: 100px;
  border-radius: 50px;
  background-color:beige;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
}

header.scrolled .links{
  height: 100px;

}

  
header.scrolled .logo{
  width: 50px;
  height: 80px;
  line-height: 80px;
}
  
.inicio{
    

  margin: auto;
  border-radius: 40px;
  height: 100vh;
  background-color:antiquewhite
   
      
}
  
  
  
.inicio, .cards{
  width: 1200px;
}
  
  
  
  
  
      
  
  
.card-03 h1, .card-02 h1, .card-01 h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 35px;
  text-transform: uppercase;
}
  
  
  
.card-03{
  background-color: white;
  position: relative;
  flex: 1;
  max-width: 340px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
  
.card-03 a{
  background-color: lightblue;
  border-radius: 10px;
  padding: 3px;
    
}

.inicio, .content{
   
  margin-top: 300px;

 
}
  
.content{
  margin: auto;
  height: 520px;
  width: 835px;
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 63%;
  transform: translate(-50%, -50%);
}
    
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}
    
.bar{
  width: 70px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
  margin: 8px;
}
    
  .bar:hover{
     background-color: #fff;
  }
    
  input{
    display: none;
  }
  
  .slides{
      
    display: flex;
    width: 500%;
    height: 100%;
  }
  
  .slide{
    width: 20%;
    transition: 0.5s;
  }
  
  .slide img{
       
    width: 100%;
    height: 100%;
  }
  
  #slide1:checked ~ .s1{
    margin-left: 0;
  
  }
  
  #slide2:checked ~ .s1{
    margin-left: -20%;
      
  }
  #slide3:checked ~ .s1{
    margin-left: -40%;
      
  }
  #slide4:checked ~ .s1{
    margin-left: -60%;
      
  }
  
  #slide5:checked ~ .s1{
    margin-left: -80%;
      
  }

  .inicio2{
    background-color: rgb(100, 92, 92);
    margin: auto;
    
    width: 75%;
    border-radius: 30px;
    height: 540px;
   
  }

  .content2{
    background-color: red;
    width: 50%;
    height: 300px;
   
    margin: auto;
    border-radius: 30px;
    
  }

  .content2, .inicio2{
    margin-top: 100px;
    
    
  }

  .texto2{
    width: 400px;
    height: 300px;
    margin: auto;
    background-color: rgb(197, 197, 218);
    border-radius: 30px;
  }

  .texto2 a{
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 30px;
    padding: 13px;
    background-color: rgb(70, 160, 110);
  }

  .botao-texto2{
    display: flex;
    align-items: center;
    justify-content: center;
 
    
  }

  .box-texto{
    font-size: 30px;
    padding-top: 30px;
    text-align: center;
  }

  .box{
    display: flex;
    height: 300px;
   
    margin: auto;
    width: 90%;
    height: 90%;
  }

 

.container2{
 
  margin: auto;
  max-width: 1300px;
   
}

.row{
   
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 15px;
  margin-top: 40px;
  text-align: center;
    
}

.card-03 h1, .card-02 h1, .card-01 h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 35px;
  text-transform: uppercase;
}



.card-03{
  background-color: white;
  position: relative;
  flex: 1;
  max-width: 340px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-03 a{
  background-color: lightblue;
  border-radius: 10px;
  padding: 3px;
  
}



@media (max-width: 1300px){
   
    
  .imagem-logo img{
   
    margin-right: 450px;
  }


  .box-canto{
   
    max-width: 350px;
  
  }

  .bloco-2{
    
    max-width: 800px;
  }

  .inicio{
    height: 700px;
    max-width: 770px;
    
  }
  .texto{
    padding: 20px;
    width: 800px;
    height: 200px;
    font-size: 15px;
   
  }



  .header,.scrolled{
    margin: auto;
    max-width: 1100px;
  }

  .content{
    top: 90%;
    max-height: 400px;
    max-width: 600px;
    left: 72%;
    margin: auto;
  }

  .content2{
    background-color: red;
    max-width: 700px;
  }

  .inicio2{
    width: 690px;
  }

  .texto2{
    padding: 30px;
    margin: 20px;
  }

  .inicio2, .texto2{
    margin-top: 100px;
  }

  

}

@media (max-width: 600px){

 
    
  .imagem-logo img{
   
    margin-right: 450px;
  }


  .box-canto, .divisoes{
   
    max-width: 150px;
  
  }

  .imagem-logo{
    margin: auto;
    
  }



 

  .container{
    
    
    max-width: 800px;
    
  }

  .logo{
    margin: auto;
  }

  .links a{
    
  
   font-size: 14px;
   max-width: 300px;
    
    
    
  }

  .divisao1, .divisao2,.divisao3, .divisao4,.divisao5{
    max-width: 100px;
    
  }
  #sites{
    font-size: 13px;
  }

  .bloco-2{
   
    min-width: 300px;
  }

  .inicio{
    height: 700px;
    max-width: 300px;
    
  }

 
  .texto{
   
    
    width: 300px;
    height: 200px;
    
   
  }

  .texto-sobre{
    margin: auto;
    max-width: 200px;
    font-size: 9px;
  }



  .header,.scrolled{
    max-width: 500px;
    
  }

  .content{
    top: 100%;
    max-height: 350px;
    max-width: 250px;
    left: 66%;
    
  }

  .content2{
    
    
    max-width: 500px;
  }

  .inicio2{
    height: 800px;
    width: 300px;
  
  }

  .texto2{
    max-width: 230px;
    padding: 30px;
    margin: 20px;
  }

  .texto-sobre2{
    font-size: 15px;
  }

  .box{
    flex-direction: column;
  }


  

  

}

